.Notifications {
    float: right;
    width: 300px;
    position: fixed;
    right: 10px;
}
.fade {
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}
.fade--hidden {
  opacity: 0;
}
